/* ToDo.css */
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3c108e;
}

.child-div {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
}

.child-div figure {
  text-align: center;
}

.child-div img {
  width: 150px;
  height: auto;
}

.add-item {
  display: flex;
  margin-top: 20px;
}

.add-item input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  
}

.add-btn {
  background: #007bff;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  
}

.show-item {
  margin-top: 20px;
}

.each-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d72222;
}

.delete-btn {
  background: #dc3545;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.remove-all {
  text-align: center;
  margin-top: 20px;
}

.remove-all-btn {
  background: #ff9800;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
